{% load staticfiles i18n filters %}

{% kwacro page-title %}
    {% block page-title %}{% endblock %}
{% endkwacro %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block whole_title %}

            {% block title %}{% usekwacro page-title %}{% endblock %} | {% trans 'Awecounting' %}

        {% endblock %}
    </title>

    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}' type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href='{% static "css/selectize.css" %}' type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ripples.min.css' %}">
    <link rel="stylesheet" href="{% static 'njango/css/nepali.datepicker.v2.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/material.awe.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="stylesheet" href='{% static "css/print.css" %}' media="print">

    <script src='{% static "js/libs/jquery-2.1.4.min.js" %}'></script>
    <script src="{% static 'js/libs/jquery.autosize.input.js' %}"></script>
    <script src="{% static 'js/libs/selectize.js' %}"></script>
    <script src="{% static 'js/libs/knockout.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/ko_lib.js' %}"></script>

    {% block extrastyle %} {% endblock %}
    {% block extrahead %}{% endblock %}


</head>
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
{% block sidebar %}{% endblock %}

<div class='container'>

    {% if not is_popup %}
        {% include 'partials/_header.html' %}

        <ol class="breadcrumb hidden-print well">
            {% block breadcrumbs_container %}
                <li><a href="/inventory/items">{% trans 'Home' %}</a></li>
                {% block breadcrumbs %}
                    <li>{% usekwacro page-title %}</li>{% endblock %}
            {% endblock %}
        </ol>

    {% endif %}

    {% block messages %}
        {% if messages %}
            <script>
                $(function () {
                    {% for message in messages %}
                        bsalert.message('{{ message|remove_lines|safe }}', '{{ message.tags|last_word }}');
                    {% endfor %}
                });
            </script>
        {% endif %}
    {% endblock %}

    <div class="page-header-bar row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <h1>{% block page-header %}{% usekwacro page-title %}{% endblock %}</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 page-header-right hidden-print">
            <div class="pull-right">
                {% block header-buttons %}{% endblock %}
            </div>
        </div>
    </div>


    <div id="content" class="{% block coltype %}col{% endblock %}">
        {% block content %}
            {% block object-tools %}{% endblock %}
        {% endblock %}
    </div>

    {% block footer %}
        <div id="footer"></div>
    {% endblock %}

</div>
<script src='{% static "js/libs/bootstrap.min.js" %}'></script>
<script src='{% static "js/libs/selectize.min.js" %}'></script>
<script src="{% static 'js/libs/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/libs/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'js/libs/material.min.js' %}"></script>
<script src="{% static 'js/libs/ripples.min.js' %}"></script>
<script src="{% static 'njango/js/nepali.datepicker.v2.min.js' %}"></script>


<script>
    $.material.init();
    $(function () {
        $('.ad-date').datepicker({
            format: 'yyyy-mm-dd',
        });
        $('.bs-date').nepaliDatePicker();
    });
</script>

{% block extrabody %}
{% endblock %}

</body>
</html>