{% extends "_base.html" %}
{% load i18n %}

{% block page-header %}

<ul class="nav nav-pills">
  <li class="{% if setting == 'Company' %}active{% endif %}"><a href="{% url 'users:company_setting' %}">{% trans "Company Setting" %}</a></li>
  <li class="{% if setting == 'VoucherSetting' %}active{% endif %}"><a href="{% url 'voucher_setting' %}">{% trans "Voucher Setting" %}</a></li>
</ul>
{% endblock %}



{% block content %}
<div class="well">
{% block settings_form %}
{%endblock%}
</div>
{% endblock %}
